#!/usr/bin/env bash

source_env "${HOME}"

# Loads the Nix flake development shell if Nix is available.
# has nix && use flake

# Installs pre-commit hooks if pre-commit is available.
# has pre-commit && pre-commit install

# export BROWSER="/Applications/Arc.app/Contents/MacOS/Arc"
# export BROWSER="/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser"
# export BROWSER="/Applications/Brave\ Browser\ Beta.app/Contents/MacOS/Brave\ Browser\ Beta"
# export BROWSER="/Applications/Firefox.app/Contents/MacOS/firefox"
# export BROWSER="/Applications/Firefox\ Developer\ Edition.app/Contents/MacOS/firefox"
# export BROWSER="/Applications/Firefox\ Nightly.app/Contents/MacOS/firefox"
export BROWSER="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
# export BROWSER="/Applications/Google\ Chrome\ Beta.app/Contents/MacOS/Google\ Chrome\ Beta"
# export BROWSER="/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary"
# export BROWSER="/Applications/Google\ Chrome\ Dev.app/Contents/MacOS/Google\ Chrome\ Dev"
# export BROWSER="/Applications/Opera.app/Contents/MacOS/Opera"
# export BROWSER="/Applications/Safari.app/Contents/MacOS/Safari"
# export BROWSER="/Applications/Vivaldi.app/Contents/MacOS/Vivaldi"
